<ul class="nav nav-pills" active-link>
	<li class="nav-item"><a class="nav-link" href="#!/categories-page">CATEGORIES</a></li>
	<li class="nav-item"><a class="nav-link" href="#!/categories-form">CATEGORY&nbsp;FORM</a></li>
	<li class="nav-item"><a class="nav-link" href="#!/authors-page">AUTHORS</a></li>
	<li class="nav-item"><a class="nav-link" href="#!/authors-form">AUTHOR&nbsp;FORM</a></li>
	<li class="nav-item"><a class="nav-link" href="#!/books-page">BOOKS</a></li>
	<li class="nav-item"><a class="nav-link" href="#!/books-form">BOOK&nbsp;FORM</a></li>
	<li class="nav-item"><a class="nav-link" href="#!/users-page">USERS</a></li>
	<li class="nav-item"><a class="nav-link" href="#!/users-form">USER&nbsp;FORM</a></li>
</ul>