<br>
<h5 class="text-center">Save User</h5>
<br>

<form name="form" novalidate data-ng-submit="saveUser(user)">
	<div class="form-group row">
		<label for="username"
			class="col-sm-3 offset-sm-1 col-form-label text-right">USERNAME</label>
		<div class="col-sm-6">
			<input name="username" type="text" class="form-control"
				data-ng-model="user.username" data-ng-pattern="/^[a-zA-Z_]{8,15}$/"
				required>
			<div data-ng-show="form.username.$dirty && form.username.$invalid" class="text-danger">
				<span data-ng-show="form.username.$error.required">Please enter a user-name</span> 
				<span data-ng-show="form.username.$error.pattern">This is not a valid user-name</span>
			</div>
		</div>
	</div>

	<div class="form-group row">
		<label for="password"
			class="col-sm-3 offset-sm-1 col-form-label text-right">PASSWORD</label>
		<div class="col-sm-6">
			<input name="password" type="password" class="form-control"
				data-ng-model="user.password" data-ng-pattern="/^\w{8,15}$/"
				required>
			<div data-ng-show="form.password.$dirty && form.password.$invalid" class="text-danger">
				<span data-ng-show="form.password.$error.required">Please enter a password</span> 
				<span data-ng-show="form.password.$error.pattern">This is not a valid password</span>
			</div>
		</div>
	</div>

	<div class="form-group row">
		<label for="confirmPassword"
			class="col-sm-3 offset-sm-1 col-form-label text-right">CONFIRM PASSWORD</label>
		<div class="col-sm-6">
			<input name="confirmPassword" type="password" class="form-control"
				data-ng-model="user.confirmPassword" required>
			<div
				data-ng-show="form.confirmPassword.$dirty && form.password.$valid">
				<span data-ng-show="user.password != user.confirmPassword" class="text-danger">Password do not match</span>
				<span data-ng-show="user.password == user.confirmPassword" class="text-success">Password do match</span>
			</div>
		</div>
	</div>

	<div class="form-group row">
		<label for="email"
			class="col-sm-3 offset-sm-1 col-form-label text-right">EMAIL</label>
		<div class="col-sm-6">
			<input name="email" type="email" class="form-control"
				data-ng-model="user.email" required>
			<div data-ng-show="form.email.$dirty && form.email.$invalid" class="text-danger">
				<span data-ng-show="form.email.$error.required">Please enter a email</span> 
				<span data-ng-show="form.email.$error.email">This is not a valid email</span>
			</div>
		</div>
	</div>

	<div class="form-group row">
		<label for="role"
			class="col-sm-3 offset-sm-1 col-form-label text-right">AUTHORITY</label>
		<div class="col-sm-6">
			<select name="authority" class="form-control"
				data-ng-model="user.authority"
				data-ng-options="authority for authority  in authorities" required>
				<option value=""></option>
			</select>
			<div>
				<div data-ng-show="form.authority.$dirty && form.authority.$invalid" class="text-danger">
					<span data-ng-show="form.authority.$error.required">Please select authority</span>
				</div>
			</div>
		</div>
	</div>

	<div class="form-group row ">
		<div class="col-sm-6 offset-sm-4">
			<button type="submit" class="btn btn-primary"
				data-ng-disabled="form.$invalid">Save</button>
			<a class="btn btn-secondary" href="#!/users-form/">Reset</a>
		</div>
	</div>
</form>
<br>
<br>